services:
  textgen.api:
    container_name: textgen-service
    image: ${DOCKER_REGISTRY-}textgenapi
    build:
      context: .
      dockerfile: Services/TextGen/TextGen.API/Dockerfile
    networks:
      - textgen-network

  vocabulary.api:
    container_name: vocabulary-service
    image: ${DOCKER_REGISTRY-}vocabularyapi
    build:
      context: .
      dockerfile: Services/Vocabulary/Vocabulary.API/Dockerfile
    networks:
      - textgen-network

  ocelot.apigateway:
    container_name: ocelot-gateway
    image: ${DOCKER_REGISTRY-}ocelotapigateway
    build:
      context: .
      dockerfile: ApiGateway/Ocelot.ApiGateway/Dockerfile
    depends_on:
      - textgen.api
      - vocabulary.api
    networks:
      - textgen-network
        
networks:
  textgen-network:
    driver: bridge